<div class="edit-container">
		<h1>User info</h1>
			<%= form_for(@user) do |f| %>
			 <%= render 'layouts/error_messages', model: f.object %>
				<label>Name</label><br>
				<%= f.text_field :name, autofocus: true %><br>
				<%= f.attachment_field :profile_image, placeholder: "ファイルが選択されていません" %><br>
				<label>Introduction</label><br>
				<%= f.text_field :introduction, autofocus: true %><br>
				<%= f.submit 'Update User', class:"btn btn-default btn-new" %>
			<% end %>
</div>
