<div class="container">
	<div class="row">
	  <div class="col-xs-3">
		<%= render 'users/template', user: @user, book_new: @book_new %>
	  </div>
	  <div class="col-xs-9">
		<h1>Users</h1>
		<table class="table table-striped">
				<thead>
				  <tr>
					  <th>image</th>
					  <th>name</th>
					  <th colspan="4"></th>
				  </tr>
				</thead>
				<tbody>
					<% User.all.where.not(id: current_user.id).each do |user|  %>
						<tr>
						  	<td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpeg" %></td>
							<td><%= user.name %></td>
							<td><%= link_to 'Show', user %></td>
							<%#<%= "id: #{user.id} email: #{user.email}" %>
							<td class="relationships_buttons_<%= user.id %>">
								<%= render partial: 'relationships/relationship', locals: { user: user} %>
							</td>
						</tr>
					<% end %>
					<%= paginate @users, class:"paginate" %>
				</tbody>
			</table>
	  </div>
	</div>
</div>