<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
<% end %>
<div class="container">
	<div class="row">
	  <div class="col-xs-3">
		<%= render 'users/template', user: @user, book_new: @book_new %>
	  </div>
	  <div class="col-xs-9">
		<h1>Book detail</h1>

		<table class="table table-striped">
			<tr>
				<th>User</th>
				<th>Title</th>
				<th>Opinion</th>
				<th>いいね</th>
				<th colspan="6"></th>
			</tr>
			<tbody>
			   <tr>
			   	 <td><%= link_to @user.name, @book.user %></td>
				 <td><%= @book.title %></td>
				 <td><%= @book.body %></td>
				 <td>いいね</td>
				 <% if @book.user == current_user %>
				 <td><%= link_to"Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
				 <td><%= link_to"Edit", edit_book_path(@book.id) %></td>
				 <% end %>
			   </tr>
			</tbody>
		</table>
	  </div>
	</div>
</div>